.deffinition{
  width : 619px
}
.pov {
  width : 619px
}

body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
.pinkie {
  height: 561px;
}

@media (max-width:1024px){
  .deffinition {
    width :311px;
  }
  .pov {
    width : 311px;
    text-align: left;
  }
  .pinkie {
    height: 660px;
  }
}